*{
    margin: 0px;
    padding:0px;
overflow-x: hidden;
    scroll-behavior: smooth;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}
.body{
    height:100vh;
    width:100vw;
    background: linear-gradient(40deg, rgb(1, 4, 22),rgb(171, 155, 239));
}
.nav{
    overflow: hidden;
    width:100vw;
    height:45px;
    z-index: 10;
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;   
    background: linear-gradient(120deg, rgb(226, 170, 226,0.3),rgb(242, 241, 241,0.3));
backdrop-filter: blur(20px);
}
.nav .nav-pages {
    text-decoration: none;
    width:30vw;
    display:flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
}
.nav .nav-pages .list.active{
   
    border-bottom:solid red 2px;
}
 .list{
    cursor: pointer;
    height:35px;
    display:flex;
    align-items: center;
}
 .list:hover {
    text-shadow: 3px 3px 10px rgb(2, 6, 37);
    transition-duration: 0.3s;
}

.main{
    position:fixed;
    top:10px;
    height: 100vh;
    width:100vw;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.main-info{
    display:flex;
    flex-direction: column;
    width:500px;
    align-items: center;
    gap:10px;
}
.info-title{
    color: rgb(168, 187, 203);
}
.info-skills{
    width:100%;
    display: flex;
    justify-content: space-around;
}
.nav-btn{
    width: 400px;
    height:50px;
    display:flex;
    gap:15px;
    align-items: center;
    justify-content: center;
}
.btn{
    cursor: pointer;
    height:35px;
    width: 150px;
    background: linear-gradient(120deg, rgb(226, 170, 226,0.3),rgb(242, 241, 241,0.3));
    border-radius: 10px;
    border-color: transparent;
    border-image: linear-gradient(120deg, rgba(19, 19, 149, 0.3),rgba(183, 8, 8, 0.3));
}
.btn:hover{
    background:linear-gradient(120deg, rgba(89, 137, 195, 0.3),rgba(208, 168, 168, 0.3));

    transition-duration: 0.2s;
}
.main-profile {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    border-color: transparent;
    position: relative;
  
}
.main-profile .profileImg{
    height:250px;
    width:250px;
    object-fit: cover;   
    border-radius: 50%;
    position: absolute;
      box-shadow: 1px 5px 5px white; 

    
}

 .profileImgRotate{
    height:400px;
    width:420px;
    object-fit: cover;   
    border-radius: 50%;
    position: absolute;
  
}


.profileImgRotate{
    animation-name: movingProfile;
    animation-timing-function:linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    animation-fill-mode: both; /* Ensures the element stays in the rotated state after completion */



}
.main-profile:hover {
    box-shadow: none; 
}
.info-name:hover{
    color:rgb(228, 228, 243);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    text-shadow: 2px 2px 5px rgb(178, 174, 211);
}
.info-title:hover {
    color: rgb(232, 232, 239);
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    text-shadow: 1px 1px 2px rgb(178, 174, 211);
}
.contact{
    position:absolute;
    border:solid transparent 0px;
    height:50px;
    width:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    font-size: larger;
    font-weight: 900;
    cursor: pointer;
    bottom: 0px;
    left:50vw;
    transform: rotate(90deg);
    animation-name: movingBtn;
    animation-timing-function:ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
.contact:hover{
    text-shadow: 1px 1px 5px white;
    transition-duration: 0.3s;

}

@keyframes movingProfile {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}






#about-me {
   
    background: linear-gradient(40deg, rgb(118, 136, 239,0.4),rgb(13, 5, 63,0.4));
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    padding-bottom: 100px;
}
hr {
    border: 0;
    height: 2px;
    margin-bottom: 10px;
    background: linear-gradient(90deg,  #47ff00, #00ffee, #2b65ff, #8000ff);
    background-size: 400% 400%;
    animation: gradientAnimation 6s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.me-img {
    margin-top: 50px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

   
   
}

.me-img img {
    height: 200px;
    width:200px;
    object-fit: cover;

}
.info{
    width: 100vw;
    display: flex;
    text-align: justify;
    justify-content: space-around;
}
.me-info,.me-info-last{
    margin-top: 100px;

    width:calc(100vw/3);
}
.me-info h3, .me-info-last h3 {
    text-align: center;
    margin-bottom: 10px;
    background: linear-gradient(90deg,#c775c7, #ff0000, #a3bd2e, #0a2b85, #8000ff);
    background-size: 200% 200%; /* Increases the background size for smoother animation */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 8s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.me-info p ,.me-info-last p{
    font-size: medium;
    color:rgb(0, 0, 0);
    font-weight: 400;
    
}
.me-info b ,.me-info-last b{
    color:rgb(44, 18, 18);
}
.me-info .skill, .me-info-last .skill{
    color: rgb(45, 45, 87);
}
.info-img{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: cover;

}

.logo{
    overflow: hidden;
    animation-name: movingLogo;
    animation-timing-function:linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-fill-mode: both; /* Ensures the element stays in the rotated state after completion */



}
@keyframes movingLogo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.me-info-last{
    width:80vw;
}


h5:hover{
    text-shadow: 1px 1px 2px rgb(59, 27, 153);
    transition-delay: 0.02s;
 
    
}
.info-1 h3,.info-2 h3{
    border-bottom: solid rgb(213, 213, 235) 2px;
    margin-bottom: 15px;;
    
}


.about-me-footer{
    font-size: 1.3rem;
    overflow: hidden;
    bottom:100px;
    left:calc(50vw - 100px);
    margin-top:100px;
    margin-bottom: 50px;
    

}
.about-me-footer h2{
    color:white;
    text-shadow: 3px 4px 5px rgb(4, 1, 26);
    
}
.about-me-footer h2:hover{
    text-shadow: 6px 6px 5px rgb(8, 2, 19);
   


}

.my-work{
    
    height:100%;
    width:100vw;
    background: linear-gradient(100deg,rgb(84, 121, 128),rgb(40, 81, 218));
    backdrop-filter: blur(20px);
}

.my-work h3{
    /* text-align: center; */
    margin-left:20px;
   
    margin-top:50px;

    background: linear-gradient(90deg,#ffffff, #837385);
    background-size: 200% 200%; /* Increases the background size for smoother animation */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 8s ease infinite;
}
.my-work .list{
    height:100%;
    width:100vw;
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top:100px;
    margin-bottom: 100px;;

}
.list h4{
    margin-top:10px;
    background: linear-gradient(90deg,#c775c7,#e9e9ec, #9a5cd8);
    background-size: 200% 200%; /* Increases the background size for smoother animation */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
}
.work-info a{
    text-decoration: underline;
}

.work-img,.work-img img{
    height:300px;
    width:350px;
    object-fit: cover;
    overflow: hidden;
}

.work{
    width:100%;
    display:flex;
    margin-top:20px;
    margin-bottom:20px;
    display: flex;

   
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;


}
.my-work .list:hover {
    /* Disable the hover effect by overriding any previous hover styles */
    text-shadow: none;
    transition-duration: 0s;
/
}

.work-list{
    background:linear-gradient(100deg,rgb(84, 121, 128),rgb(40, 81, 218));
    height:400px;
    border:solid rgb(187, 169, 169) 2px;
    box-shadow: inset 10px 3px 100px white;
    border-radius: 10px;
  
}
.work-info{
    margin-top: 15px;
   
    height:60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.con {
    transform: rotate(270deg);
    display: flex;
    z-index: 2;
    position: fixed;
    top: 50%;
   left: -30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
   
  
   
    border-radius: 8px;
 
    background:linear-gradient(100deg,rgb(84, 121, 128),rgb(40, 81, 218));
    margin: 0 ;
    
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
}

#contactList {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 20px 0;
    margin-left: 5px;;
    display: none; /* Initially hidden */
    text-align: left;

}

#contactList li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* Optional: adds a bottom border to each list item */
}

#contactList li a {
    text-decoration: none;
    color: #e4e8ec; /* Link color */
    font-weight: bold;
    transition: color 0.3s ease;
}

#contactList li a:hover {
    color: #481dc0; /* Darker color when hovered */
}

.toggle-btn {
     cursor: pointer;
     background:linear-gradient(100deg,rgb(13, 144, 170),rgb(40, 81, 218));
    color: #fff;
    padding: 10px;
    text-align: center;


    transition: background-color 0.3s ease;
}

.toggle-btn:hover {
    background:linear-gradient(100deg,rgb(121, 115, 201),rgb(9, 45, 177));
}

#contactText {
    width: 100px;
    font-weight: bold;
}




h2{
    margin-top:100px;
    background: linear-gradient(90deg,#0adf0a,#e9e9ec, #c00d84);
    background-size: 200% 200%; /* Increases the background size for smoother animation */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 5s ease infinite;
}






/* media query */
@media (max-width:950px) and (max-height:650px){
    .main{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-profile{
        width:100vh;
        height:100vh;
    }
    .profileImg{
        width:90vh;
        height:90vw;
    }
    .profileImgRotate{
        width:70vh;
        height:70vh;

    }
}
@media (max-width:950px){
    .main{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-profile{
        width:100vh;
        height:100vh;
    }
    .profileImg{
        width:80vh;
        height:80vw;
    }
    .profileImgRotate{
        width:60vh;
        height:60vh;

    }
}


@media (max-width:600px) and (max-height:950px) {
    .main{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-profile{
        width:100vw;
        height:100vw;
    }
    .profileImg{
        width:90vw;
        height:90vw;
    }
    .profileImgRotate{
        width:100vw;
        height:100vw;

    }
    .nav{
        display:none;
    }
}




/* height */
@media (max-width:930px){
    #about-me{
        height:100%;
        display:flex;
        flex-direction: column;
        gap:20px;
        align-items: center;
        font-size: 1.3rem;
    
    }
    .info-img{
        display: none;
    }
    .me-info,.me-info-last{
        width:90vw;
    }
    .me-img {
        height:200px;
    width:200px;

    }
    .me-img img{
        height:200px;
        width:200px;

    }

  


}
@media (max-width:650px){
    .me.info,.info-3{
        height:100%;

    }
    .education{
        display: flex;
        flex-direction: column;
        gap:20px;
        height:100%;
      
    }
    .edu{
        height:120%;
        overflow: hidden;
    }
}






